body {
   background-color: rgb(245, 236, 236);
   text-align: center;
   margin: 1em 25em ;
}

.centro {
    background-color: rgb(226, 172, 172);
    border: 5px solid rgb(0, 0, 0); 
}

.calculadora {
    height: 150px;
    width: 150px;
    border-radius: 60%;
    margin-top: -50px;
    margin-bottom: 40px;
    border-left: 5px solid black;
	border-bottom: 8px solid black;
	box-sizing: border-box;
}

h1{
	font-size: 35px;
	color: #4b0318;
	padding: 10px 0;
	font-family: Arial,sans-serif;
	font-weight: bold;
	text-align: center;
    padding-bottom: 50px;
    text-shadow: .5px .5px #000;
  }

  .oper{
    margin-bottom:15px;
    font-weight: bold;
  }

  input{
    margin-bottom: 5px;
  }

  button[type="submit"]{
	cursor: pointer;  
	background: #cf7fa7;
	padding: 8px 5px;
	color: rgb(0, 0, 0);  
    margin-top: 5px;
    margin-bottom: 40px;
  }

